body {
    background-image: url(./image/_MG_6925\(resized\).jpg);
    
}

#button-center {
    display:flex;
    justify-content:center;
    padding-top: 75px
}

.card-center {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 4%;
    /* height: auto; */
    border: 0 150px 15px 150px;
}

.card {
    margin: 5px;
    opacity: 65%;
    transition: 0.5s ease;
    display:flex;
    justify-content: space-between;
}

.card:hover {
    background-color: white;
    opacity: 90%;
}


p {
    font-style: italic;
    text-align: center;
    position: relative;
    padding-top: 30px;
    margin-bottom: 20px;
    color: black
}

#card-author {
    position: relative;
    padding-top: 15px;
    padding-right: 15px;
    text-align: end;
}

#another-quote {
    text-align: center;
}

#drop-down {
    padding-top:2%;
    text-align:center
}